body {
  background: #352f5b;
}

.container {
  max-width: 400px !important;
}

h3 {
  color: #fff;
  text-align: center;

}

.collection
.collection-item {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.2rem;
  background-color: #423a6f !important;
  border: none !important;
  margin: 15px 0 !important;
}

ul.todos.collection {
  border: none;
}

input[type=text],
input[type=text]:focus{
  color: #fff !important;
}

.new {
  font-size: 1rem;
  color: #fff;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}
